.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 16px 0;
  margin: 0 20px 40px 20px;
}

.menu_items {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.menu_item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  padding: 16px 20px;
}

.menu_item > span {
  color: #8585AD;
  margin-left: 8px;
}

.menu_item_active > span {
  color: white;
}

.menu_profile {
  display: flex;
  align-items: center;
  color: #8585AD;
  padding: 16px 20px;
  cursor: pointer;
}

.menu_profile > span {
  margin-left: 8px;
}
